<section>
  <mat-card Align="center">
    <div fxLayoutAlign="center center" fxLayout="column">
      <div class="card">
        <img src="../../../assets/img/df.jpg" alt="dff" />
      </div>
      <div>
        <h2>LOGIN TO YOUR ACCOUNT</h2>
        <mat-form-field appearance="outline">
          <mat-label>Enter Your Email</mat-label>
          <input matInput placeholder="Email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter Your Password</mat-label>
          <input type="password" matInput placeholder="Password" />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <div fxLayoutAlign="space-evenly center">
          <mat-checkbox>Remember me</mat-checkbox>
          <a href="">Forget Password?</a>
        </div>
        <button mat-button>Login</button>
      </div>
    </div>
  </mat-card>
</section>
